[Scraping]
url=https://www.estrazionedellotto.it/risultati/archivio-lotto-2025

# Numero di estrazioni iniziali da saltare, a partire dalla prima (=0, tutte)
offset_estr=0

# Numero di estrazioni da recuperare a partire dall'offset (almeno 1 per: analisi; almeno 2 per: verifica; =999, per tutte)
num_estr=999

# Ruota specifica (lascia vuoto per tutte le ruote)
# Bari Cagliari Firenze Genova Milano Napoli Palermo Roma Torino Venezia
ruota=Bari

[Filtering]
filtro=numeri
numeri=
cifre=

[Stats]
# Escludi l'ultima estrazione dai calcoli statistici del Filtering? (No=False, pre-analisi; Si=True, post-verifica)
previsionale=True

[Persistence]
attiva=False
purga=False
host=mongodb
porta=27017
database=estrazioni