version: '3'

services:
  giancolotto:
    build:
      context: .
    volumes:
      - ./data:/app/data
    depends_on:
      - mongodb
    tty: true

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./data/db:/data/db
